<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      {% load static %}
      <script type="text/javascript" src="{% static 'app.js' %}"></script>

      <! bokeh -->
      <link href= "http://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.css" rel="stylesheet" type="text/css">
      <link href="http://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.css" rel="stylesheet" type="text/css">
      <script src="http://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
      <script src="http://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
      <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>

      {{ script | safe }}

      <title>DAI's analysis </title>

    	{# Cargamos la librería #}
  	  {% load bootstrap4 %}

  	  {# CSS Bootstrap #}
  	  {% bootstrap_css %}

      <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      </style>

    </head>

    <body>

        <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
          <a class="navbar-brand col-sm-5 col-md-3 mr-0" href="#">DAI's transactions analytics</a>
          <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="#">Sign out</a>
            </li>
          </ul>
        </nav>

        <div class="container-fluid">
          <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
              <div class="sidebar-sticky">
                <form class="form" id="exchange_rate_form" name="exchange_rate_form" method="GET" action="{% url 'ethereum_analysis_app:exchange_rates_for_country' %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="my-1 mr-2" for="country_select">Country/Currency</label>
                    <select class="custom-select my-1 mr-sm-2" name="country_select" id="country_select">
                        {% for region,countries in countries_by_region %}
                          <optgroup label="{{ region }}">
                            {% for country in countries.itertuples %}
                              <option value={{country.name}}>{{ country.name }}({{country.code}})/{{country.currency}}({{country.currency_code}})</option>
                            {% endfor %}
                          </optgroup>
                        {% endfor %}
                    </select>
                    <small id="passwordHelpInline" class="text-muted">You can select exchange rates to USD to view DAI's transfers amount in real currency</small>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block">Show</button>
                </form>
<!--                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                  <span>Saved reports</span>
                  <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                    <span data-feather="plus-circle"></span>
                  </a>
                </h6>
                <ul class="nav flex-column mb-2">
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="file-text"></span>
                      Current month
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="file-text"></span>
                      Last quarter
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="file-text"></span>
                      Social engagement
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="file-text"></span>
                      Year-end sale
                    </a>
                  </li>
                </ul>-->
              </div>
            </nav>

          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                  </div>
                  <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="calendar"></span>
                    This week
                  </button>
                </div>
              </div>

              {{ div | safe }}
              <div id="exchange_rates_plot">

              </div>

          </main>
        </div>
      </div>
    <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    {# JS y jQuery Bootstrap #}
    {% bootstrap_javascript jquery='full' %}
    </body>

</html>
